
@model ConsoleAppProject.App02.BMI

@{
    ViewData["Title"] = "BMI Calculator";
}

<header class="text-center jumbotron justify-content-center">
    <h1>App02: BMi Calculator</h1>
</header>

<section>
    <form method="post">

        <h2>Height</h2>
        <p>
            Enter your height in whole numbers!
        </p>
        <p>
            <input type="number" placeholder="Feet" asp-for="@Model.height" />

            <input type="number" placeholder="Inches" asp-for="@Model.height" />
        </p>
        <p>
            <input type="number" placeholder="Centimetres" asp-for="@Model.height"/>
        </p>

        <h2>Weight</h2>
        <p>
            Enter your weight in whole number!
        </p>
        <p>
            <input type="number" placeholder="Stones" asp-for="@Model.weight"/>

            <input type="number" placeholder="Pounds" asp-for="@Model.weight"/>
        </p>
        <p>
            <input type="number" placeholder="Kilograms" asp-for="@Model.weight"/>
        </p>
        <p>
            <button class="btn btn-success" type="submit">Calculate</button>
        </p>

    </form>
</section>
